<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<http create-session="never" use-expressions="true">
		<intercept-url pattern="/docrepo/**" access="hasRole('ROLE_USER')" />
		<http-basic />
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="bcryptPasswordEncoder" />
			<jdbc-user-service 
				data-source-ref="dataSource"
				users-by-username-query="select username, password, enabled from authentication.users where username=?"
				authorities-by-username-query="select username, role from authentication.user_roles where username=?  " />
		</authentication-provider>
	</authentication-manager>
</beans:beans>